@model IEnumerable<PIA_WheelDeal.Models.dbModels.PeticionCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIndNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdStatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIndNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdNavigation.IdProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStatusNavigation.IdStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPeticion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPeticion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPeticion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
