@model IEnumerable<PIA_WheelDeal.Models.dbModels.Vehiculo>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@* SECCION CON LAS FUNCIONES DE ESTA VISTA *@
@functions{
		public async Task<bool> IsInRoleAsync(string role)
		{
			var user = await UserManager.GetUserAsync(User);
			return user != null && await UserManager.IsInRoleAsync(user, role);
		}
}
@* SECCION CON LOS JAVASCRIPT QUE USARÁ ESTA VISTA *@
@section Scripts {
	<script>

		

	</script>
}
@* SECCION CON LOS ESTILOS QUE USARÁ ESTA VISTA *@
@section Styles{
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}


<div class="row">
	<div class="col-xl-2 col-lg-3 col-4 bg-dark text-warning">
		<div><!--Primera seccion-->
			<div class="row bg-warning text-dark border border-3 border-dark">
				<h5>Cuenta</h5>
			</div>
			<div class="row p-0 bg-dark text-white">
				<partial name="_LoginPartial"/>
			</div>
		</div>
		@if (await IsInRoleAsync("ADMIN"))
		{
			<div id="validador">
				<!--Segunda Seccion, esta seccion tendrá una validacion si Rol=ADMIN-->
				<div class="row bg-warning text-dark border border-3 border-dark">
					<h5>Administracion</h5>
				</div>
				<div class="row p-0 bg-dark text-white">
					<ul>
						<li class="pt-2 pb-2 mb-1 mt-3 border border-3 border-warning text-center rounded">
							Estadisticas
						</li>
						<li class="pt-2 pb-2 mb-1 border border-3 border-warning text-center rounded">
							<a asp-controller="PeticionCompras" asp-action="Index">Solicitudes</a>
						</li>
						<li class="pt-2 pb-2 mb-1 border border-3 border-warning text-center rounded">
							<a asp-controller="Ventas" asp-action="Index">Ventas</a>
						</li>
						<li class="pt-2 pb-2 mb-1 border border-3 border-warning text-center rounded">
							<a asp-controller="Home" asp-action="Gerencia">Gerencia</a>
						</li>
					</ul>
				</div>
			</div>
		}
		
    </div>
	<!--Fin de las secciones-->
	<!--Columna con todos los productos-->
	<div class="col-xl-10 col-lg-9 col-8 border border-primary">
		<div class="row" id="productosdisplay"><!--Display que displayeara todos los productos,
		cada columna es un producto, las columnas tienen un breakpoint de 4 por lo
		que dará la ilusion de ser una triple fila hacia abajo-->
			@foreach (var item in Model)
			{
				@if(item.Disponible==true){
					<div class="col-4 pt-4">
							<div class="card" style="width: 30rem; height: 100%;">
							<img src="@Html.DisplayFor(modelItem => item.Img)" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title"><strong>@Html.DisplayFor(modelItem => item.Nombre)</strong></h5>
									<p class="card-text"><strong>$@Html.DisplayFor(modelItem => item.Precio)</strong></p>
									<p class="card-text">Tipo:<strong>@Html.DisplayFor(modelItem => item.IdTipo)</strong></p>
									<p class="card-text">Matricula: @Html.DisplayFor(modelItem => item.Matricula)</p>
									<p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
									<a class="btn btn-primary compra" asp-controller="Peticiones" asp-action="Index" asp-route-id="@item.IdProd">Comprar</a>
								</div>
							</div>
						</div>
				}
			}
		</div>
	</div>
</div>

